<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.note_ally">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NoteAlly">
        <activity android:name=".ViewNote"></activity>
        <activity android:name=".Addpicture"/>
        <activity android:name=".Allpicture"></activity>
        <activity android:name=".Addpdf"/>
        <activity android:name=".Allpdf"/>
        <activity android:name=".AddNote" />
        <activity android:name=".Addmypost" />
        <activity android:name=".Mypost" />
        <activity android:name=".Allpost" />
        <activity android:name=".Updateprofile" />
        <activity android:name=".AddHelp" />
        <activity android:name=".AddNotice" />
        <activity android:name=".FindNotice" />
        <activity android:name=".FindHelp" />
        <activity android:name=".AddEvent" />
        <activity android:name=".FindEvent" />
        <activity android:name=".Chat" />
        <activity android:name=".Profile" />
        <activity android:name=".Help" />
        <activity android:name=".Notification" />
        <activity android:name=".Logout" />
        <activity android:name=".AddJob" />
        <activity android:name=".FindJob" />
        <activity android:name=".login" />
        <activity android:name=".signup" />
        <activity android:name=".splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>